/*
* @Author: Ben Kalish
* @Date:   2020-08-04 16:06:51
* @Last Modified by:   BenKalish42
* @Last Modified time: 2022-04-04 12:26:29
*/

@font-face {
  font-family: "Teko";
  src: url('../fonts/Teko-Regular.ttf') format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Teko";
  src: url('../fonts/Teko-Medium.ttf') format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Futura Condensed";
  src: local("FuturaCondensedMedium"), url('../fonts/FuturaCondensedMedium.ttf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Futura Condensed";
  src: local("FuturaCondensedBold"), url('../fonts/FuturaCondensedBold.ttf') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Futura Book";
  src: local("FuturaBook"), url('../fonts/FuturaBook.ttf') format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Futura Book";
  src: local("FuturaBookItalic"), url('../fonts/FuturaBookItalic.ttf') format("truetype");
  font-style: italic;
}

// Fluid Type responsive font-sizes and properties from Indrek Paas
// changed to include default viewport width range of a small phone to a 4k monitor
// https://www.sassmeister.com/gist/7f22e44ace49b5124eec

@mixin fluid-type($properties, $min-value, $max-value,  $min-vw: 320px, $max-vw: 2160px) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

html {
	background: #000000;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: "Futura Book";
}


div[class*="container"] {
	display: flex;
	flex-direction: column;
}

#tsparticles {
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	opacity: 30%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 36px;
  left: 24px;
  top: 24px;
}

.bm-icon-outer-container, .bm-icon-inner-container {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 2px;
}

.bm-icon-outer-container {
	padding: 2px;
	background: linear-gradient(45deg,
		// rgb(75, 180, 225), 2%,
		rgb(37, 46, 210), 30%,
		rgb(119, 0, 170),
		rgb(189, 7, 89),
		rgb(219, 112, 32));
}

.bm-icon-inner-container {
	background: black;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: white;
	border-radius: 2px;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.6;
	}
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-burger-button > button, .bm-cross-button > button {
	outline: none!important;
	border: none;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(180deg, #101010, #202020, #101010);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.navbar-burger-button {
	
}

.menu-item {
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 20px 10px;
	outline: none;
	border: none;
	user-select: none;

	cursor: pointer;

	&:hover {
		color: #DDDDDF;
	}

	&:active {
		color: #BBBBBF;
	}
}

.navbar-container {
	position: fixed;
	z-index: 1000;
	top: 2%;
	left: 1%;

	align-items: center;
	justify-content: center;

	background: linear-gradient(45deg,
		// rgb(75, 180, 225), 2%,
		rgb(37, 46, 210), 30%,
		rgb(119, 0, 170),
		rgb(189, 7, 89),
		rgb(219, 112, 32));
	box-shadow: 3px 3px 6px 2px #000000;
	border-radius: 4px;

	.navbar-inner-container {
		margin: 3px;

		background: linear-gradient(90deg, #101010, #202020, #101010);
		border-radius: 4px;
	}
}

.section-container {
	position: relative;
	align-items: center;
	justify-content: center;
	// background: black;
	width: 100%;
	overflow: hidden;
	margin: 72px 0;

	.section-graphic {
		// can extend width past 100 and change left for different graphic flavor
		position: absolute;
		top: -82px;
		width: 100%;
		z-index: 0;
		opacity: 0.5;
	}

	#Section1Graphic {
		width: 150%!important;
		left: 0;
	}

	#Section2Graphic {
		width: 150%!important;
		left: -25%;
	}

	#Section3Graphic {
		width: 150%!important;
		left: -50%;
	}

	.section-graphic-overlay {
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	.overlay-top {
		top: 0;
		// background: linear-gradient(rgba(0, 0, 0, 1), 70%, rgba(0, 0, 0, 0));
		height: 40%;
	}

	.overlay-bottom {
		bottom: 0;
		// background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
		height: 70%;
	}

	.section-title{
		font-family: "Futura Condensed";
		z-index: 1;
		color: white;
		line-height: 100%;
		text-align: center;
		text-shadow: 0 6px 6px #000000;
		font-size: 96px;
		font-weight: 600;
		margin-top: 24px;

		@media screen and (max-width: 500px) {
			font-size: 56px;
		}

	}

	.section-content-container {
		align-items: center;
		flex-wrap: wrap;
		z-index: 2;
		width: 90%;
		// TODO: make this fluid? how should content container scale?
		// max-height: 1080px;
		margin: 40px auto;
	}

	@media screen and (min-width: 890px) {
		.section-content-container {
			max-height: 1080px;
		}
	}
}

.title-section-container {
	position: relative;
	align-items: center;
	justify-content: center;
	// background: black;
	width: 100%;
	overflow: hidden;
}

.title-container {
	position: absolute;
	top: 45%;

	color: white;
	font-family: 'Teko', sans-serif;

	span {
		line-height: 100%;
		text-align: center;
		text-shadow: 0 6px 6px #000000;
	}

	.name {
		@include fluid-type(font-size, 72px, 144px);
		font-weight: 600;
	}
	.description {
		@include fluid-type(font-size, 24px, 48px);
	}
}

.title-graphic {
	max-width: 1200px;
}

.about-me-section-container {
	// TODO: fix big div container selector so we don't need to do this
	// maybe replace with Sass compile trick
	flex-direction: row!important;
	flex-wrap: wrap;
	overflow: hidden; 

	// TODO: use flex-grow with these guys to maintain proportions as we scale
	.about-me-photo-container {
		flex-grow: 1;
		flex-basis: 0;
		min-width: 300px;
	}

	.about-me-text-container {
		flex-grow: 3;
		flex-basis: 0;
		padding: 20px;

		.about-me-text {
			color: #FFFFFF;
		}
	}
}

.project-boxes-container {
	flex-direction: row !important;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: center;
}

.project-container {
	align-items: center;
	justify-content: center;
	overflow: hidden;

	margin: 20px;
	border-radius: 4px;

	height: 300px;
	max-width: 800px;
	min-width: 300px;

	flex-grow: 1;

	background: linear-gradient(45deg,
			// rgb(75, 180, 225), 2%,
			rgb(37, 46, 210), 30%,
			rgb(119, 0, 170),
			rgb(189, 7, 89),
			rgb(219, 112, 32));

	@media screen and (max-width: 500px) {
		margin: 20px 0;
		height: auto;
	}

	.project-inner-grid {
		display: grid;
		grid-template-columns: 72px 1fr 58px;
		grid-template-rows: 48px 28px 24px 1fr;
		grid-template-areas: 
		"icon title arrow"
		"icon tagline tagline"
		"icon technologies technologies"
		"description description description";
		grid-column-gap: 12px;
		align-items: start;

		height: 100%;
		width: calc(100% - 6px);
		margin: 3px;
		background: linear-gradient(90deg, #101010, #202020, #101010);
		overflow: hidden;

		padding: 24px;

		color: #ffffff;
		cursor: pointer;

		@media screen and (max-width: 500px) {
			grid-template-columns: 58px auto 30px;
			grid-template-rows: auto auto auto;
			grid-template-areas: 
			"icon title arrow"
			"tagline tagline tagline"
			"technologies technologies technologies";
			grid-column-gap: 0px;
			grid-row-gap: 3px;

			padding: 16px;
		}

		&:hover .arrow-container {

			padding-right: 0!important;
		}

		.icon-container {
			align-items: center;
			justify-content: center;
			grid-area: icon;
			align-self: center;

			@media screen and (max-width: 500px) {
				margin-right: 12px;
			}
		}


		.title {
			font-family: "Futura Condensed";
			font-size: 48px;
			font-weight: bold;
			line-height: 48px;
			grid-area: title;

			@media screen and (max-width: 500px) {
				font-size: 24px;
				align-self: center;
			}

		}

		.tagline, .technologies {
			font-size: 24px;
			line-height: 24px;
			margin-top: 4px;
		}

		.tagline {
			grid-area: tagline;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space:nowrap;

			@media screen and (max-width: 500px) {
				font-size: 16px;
				white-space: initial;
			}
		}

		.technologies {
			font-size: 20px;
			color: #dddddd;
			font-style: italic;
			grid-area: technologies;

			@media screen and (max-width: 500px) {
				font-size: 16px;
				white-space: initial;
			}
		}

		.arrow-container {
			grid-area: arrow;

			// This moves the arrow to the right, as there is no justify-self in flex
			margin-left: auto;
			align-self: flex-start;

			padding-right: 10px;
			transition: padding-right 50ms ease;

			@media screen and (max-width: 500px) {
				align-self: center;
				padding-right: 0;

				.arrow-icon {
					height: auto;
					width: 30px;
				}
			}
		}


		.description-container {
			grid-area: description;
			align-self: center;

			align-items: center;
			justify-content: center;
			overflow: hidden;

			@media screen and (max-width: 500px) {
				display: none;
			}

			.description {
				font-size: 20px;
				line-height: 24px;
				height: 100%;
			}
		}
	}
}

.project-icon {
	width: 72px;
	height: 72px;

	@media screen and (max-width: 500px) {
		width: 48px;
		height: 48px;
	}
}

.music-section-container {
	flex-direction: row !important;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}

.music-subsection-container {
	min-width: 300px;
	flex-grow: 1;
	margin: 0 20px;

	@media screen and (max-width: 375px) {
		margin: 0;
	}
}

.music-section-title {
	font-family: "Futura Condensed";
	color: white;
	line-height: 100%;
	text-align: center;
	text-shadow: 0 6px 6px #000000;
	font-size: 64px;
	font-weight: 500;
	margin: 24px 0;

	@media screen and (max-width: 500px) {
		font-size: 48px;
	}
}
